<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.joopware.unitconverter" android:screenOrientation="portrait" android:versionCode="7" android:versionName="1.22">
	
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	
	<supports-screens android:smallScreens="true"
		android:normalScreens="true" android:largeScreens="true">
	</supports-screens>
	
	<application android:label="@string/app_name" android:icon="@drawable/icon">

		<activity android:name=".UnitConverter" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ConvertActivity" android:label="@string/app_name" />

		<activity android:name=".AreaActivity" android:label="@string/area_convert_screen_name" />
		
		<activity android:name=".CurrencyActivity" android:label="@string/currency_convert_screen_name" />

		<activity android:name=".LengthActivity" android:label="@string/length_convert_screen_name" />

		<activity android:name=".VolumeActivity" android:label="@string/volume_convert_screen_name" />

		<activity android:name="com.google.ads.AdActivity"
        	android:configChanges="keyboard|keyboardHidden|orientation"/>

	</application>

	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="4"/>
</manifest>